Repository MihailMihaylov75/rest-api-testing: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, tests

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc
  - --load-plugins=pylint.extensions.docparams
  log_file: .cache/pylint.log

tests:
  name: Run unittests
  entry: python -m unittest
  language: system
  args:
  - tests/unit/test_app.py
  - tests/unit/test_item.py
  - tests/integration/test_item.py
  log_file: .cache/unittests.log
  stages:
  - commit

Add store modules
  .flake8
  Pipfile
  Pipfile.lock
  app.py
  models/store.py
  pylintrc
  resources/store.py
  tests/integration/test_item.py
  tests/unit/test_item.py
Due: pylint, tests

Add store modules
  app.py
Due: pylint, tests

Merge with starter2
  .gitignore
  models/item.py
Due: pylint, tests

Fix resources
  resources/item.py
Due: pylint, tests

Merge with starter2
  tests/unit/test_item.py
Due: tests

fix tests
  tests/integration/test_item.py
Due: tests

fix tests 2
  tests/unit/test_item.py
Due: tests

update gitignore for db files
  .gitignore
Due: none

Path conditions:
  pylint: any of: \.py$, but not: test*
  tests: any of: \.py$
